* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.btn-roll {
	padding: 10px 30px;
	background-color: rgb(107, 143, 54);
	border-radius: 10px;
	border-style: none;
	color: rgb(236, 236, 236);
	font-size: 2rem;
}
